@model TicketsPanel.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

@section Head {
    <link rel="stylesheet" href="~/css/Tickets/Create.css"/>
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="form-wrapper">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mensagem</label>
                <textarea name="body" class="form-control" id="message-field"> </textarea>
                <!-- <span asp-validation-for="Messages.Body" class="text-danger"></span> -->
            </div>
            <div class="form-group">
                <label for="Department">Department</label>
    
                @if (ViewBag.Departments != null && ((IEnumerable<SelectListItem>)ViewBag.Departments).Any())
                {
                    <select id="Department" name="DepartmentId" asp-items="ViewBag.Departments" class="form-control">
                        <option value="">Selecionar Departamento.</option>
                    </select>

                }

    
                <span asp-validation-for="DepartmentId" class="text-danger"></span> <!-- Mensagem de validação -->
            </div>

            <div class="form-group">
                <label for="Category">Category</label>
                <select id="Category" name="CategoryId" class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories">
                    <option value="">Select Category</option>
                </select>

                <span asp-validation-for="CategoryId" class="text-danger"></span>  <!-- Mensagem de validação -->
            </div>
            <div class="form-group">
                <label asp-for="Emails" class="control-label"></label>
                <input asp-for="Emails" class="form-control" />
                <span asp-validation-for="Emails" class="text-danger"></span>
            </div>
            <div class="form-group button-container">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <button class="btn btn-primary" asp-action="Index">Voltar à lista</button>
            </div>
        </form>
    </div>

    <div class="file-input-wrapper">
        <label asp-for="Attachment" for="file" class="custom-file-input">Anexar arquivo(s)</label>
        <input asp-for="Attachment" type="file" id="file" name="file" multiple>
        <span asp-validation-for="Attachment" class="text-danger"></span>
        <ul id="file-list"></ul>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Tickets/Create.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}


