@model TicketsPanel.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <textarea name="body" class="form-control"> </textarea>
                <!-- <span asp-validation-for="Messages.Body" class="text-danger"></span> -->
            </div>
            <div class="form-group">
                <label for="Department">Department</label>
    
                @if (ViewBag.Departments != null && ((IEnumerable<SelectListItem>)ViewBag.Departments).Any())
                {
                    <select id="Department" name="DepartmentId" class="form-control" asp-for="DepartmentId">
                        <option value="">Selecionar Departamento.</option>
                        @foreach (var department in ViewBag.Departments)
                        {
                            <option value="@department.Value">@department.Text</option>
                        }
                    </select>
                }

    
                <span asp-validation-for="DepartmentId" class="text-danger"></span> <!-- Mensagem de validação -->
            </div>

            <div class="form-group">
                <label for="Category">Category</label>
                <select id="Category" name="CategoryId" class="form-control">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>  <!-- Mensagem de validação -->
            </div>
            <div class="form-group">
                <label asp-for="Emails" class="control-label"></label>
                <input asp-for="Emails" class="form-control" />
                <span asp-validation-for="Emails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="control-label"></label>
                <input asp-for="Attachment" class="form-control" />
                <span asp-validation-for="Attachment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Tickets/Create.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}


