/* Styles for the Message field*/

.message-body {
    white-space: pre-wrap;
    text-align: left; 
    margin: 0 auto;
}

#messages {
    background-color: #D3D3D3;
}

#messages-hub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}

#time-message {
    float: right !important;
}

#reply-textarea {
    width: 700px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-top: 10px;
    margin-bottom: 5px;
}

#send{
    display: block;
    margin-bottom: 10px;
}

/* Styles for the reply field */

.reply {
    background-color: steelblue;
    color: white;
    border: none;
    padding: 7px 21px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
    .reply:hover {
        background-color: royalblue;
    }
.postCom {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 7px 48px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

    .postCom:hover {
        background-color: darkslategrey;
    }

/* Styles for the Reopen Ticket  */

#btn-reopen{
    background-color: dodgerblue ;
}

    #btn-reopen:hover{
        background-color: mediumblue;
    }


#Create a {
    display: inline-block; /* Permite definir altura e largura */
    padding: 10px 20px; /* Espaçamento interno (padding) para tornar o botão retangular */
    background-color: #6495ED; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto no botão */
    border-radius: 12px; /* Define bordas arredondadas */
    text-decoration: none; /* Remove o sublinhado do link */
    font-size: 16px; /* Tamanho do texto */
    font-family: Arial, sans-serif; /* Define a fonte */
}

    #Create a:hover {
        background-color: #4169E1; /* Cor de fundo ao passar o mouse */
    }

tr[data-href] {
    cursor: pointer; /* Mostra um cursor de mão ao passar o mouse */
}

    tr[data-href]:hover {
        background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    }

